html {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  font-weight: normal;
  line-height: 1.5;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

nav ol li {
  list-style-type: none;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
}

a:hover {
  background-color: inherit;
  color: #222;
  border-color: inherit;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

blockquote footer cite {
  font-size: .8rem;
}

main ol {
  list-style-type: lower-greek;
}

main dl dt {
  font-weight: bold;
}

.serving-size {
  font-style: italic;
}

strong {
  font-weight: normal;
}

aside ul li {
  font-size: .8rem;
  list-style-type: disc;
}
